{% extends 'authentication/layout.html' %}
{% block title %}Create Theme{% endblock %}
{% block body %}
<div class="container position-relative">
    <div class="row align-items-center">
        <div class="col"></div>
        <div class="col">
          <form id="createtheme" method="post">
            {% csrf_token %}
            {% for field in form %}
            {% if field %}
              <div class="form-floating mt-2 mb-2">
                {{field}}
                  <label for="{{ field.id }}">{{ field.label}}</label>
              </div>
            {% endif %}
          {%endfor%}
        </form>
        </div>
        <div class="col"></div>

    </div>
  </div>
  <div class="row w-100">
    <button form="createtheme" class="btn btn-primary mx-auto w-auto mt-3">Create theme</button>
  </div>
  <style>
    .container{
        margin-top: 25vh;
    }
  </style>
{%endblock%}