{% extends 'authentication/layout.html' %}
{% block title %}Create Theme{% endblock %}
{% block body %}
<div class="container position-relative">
    <div class="row align-items-center">
        <div class="col"></div>
        <div class="col ">
          <form method="post" enctype="multipart/form-data" id="creatediscussion">
            {% csrf_token %}
            {% for field in form %}
              {%if field.name == "description" or field.name == "file" %}
                <div class="form mt-2 mb-2">
                    {{field}}
                </div>
                {%else%}
                <div class="form-floating mt-2 mb-2">
                  {{field}}
                    <label for="{{ field.id }}">{{ field.label}}</label>
                </div>
              {% endif %}
          {%endfor%}
        </div>
      </form>
        <div class="col"></div>

    </div>
    <div class="row w-100">
      <button form="creatediscussion" class="btn btn-primary mx-auto w-auto mt-3">Create discussion</button>
    </div>
    <style>
      .container{
          margin-top: 15vh;
      }
    </style>
</div>
{%endblock%}