{% extends 'authentication/layout.html' %}
{% block title %}Home{% endblock %}
{% block body %}
<div class="mx-auto">
    Now you on |  | discussion
</div>
<hr>
{% for discuss in discusss%}
Theme: {{discuss.theme}}<br>
Name: {{discuss}}<br>
Desc: {{discuss.description}}<br>
Updated: {{discuss.update_time}}<br>
Created: {{discuss.create_time}}<br>
Author: {{discuss.author_discussion}}<br>
{% endfor%}
<hr>
{%for comment in comments reversed %}
Text: {{comment}}<br>
Created: {{comment.create_time}}<br>
<hr>
{%endfor%}
{% endblock %}

