<!DOCTYPE html>
<html lang="en" class="has-background-black-ter">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">

    <title>Login</title>
</head>
<body>
    <div class="block ">
        <form method="post" action="" class="box column is-4 is-offset-4">
            {% csrf_token %}
            <div class="field">
            <label class="label">Username</label>
            <div class="control">
                <input class="input is-rounded" type="text" name="username" placeholder="yanikitalalala">
            </div>
            </div>
        
            <div class="field">
            <label class="label">Password</label>
            <div class="control">
                <input class="input is-rounded" type="password" name="password" placeholder="********">
            </div>
            </div>
            <div class="buttons">
            <button class="button is-primary "><i class="fa fa-sign-in" aria-hidden="true"></i>&nbsp;Log in</button>
            <button form="" onclick="window.location.href='/signup'" class="button is-primary is-light ">Sign in</button>
            </div>
        </form>
    </div>
    
</body>
</html>

<style>

    .block {
        margin-top: 25vh;
    }
</style>