{% extends 'authentication/layout.html' %}
{% block title %}Log in{% endblock %}
{% block body %}
<div class="container  ">
    <div class="row align-items-center">
        <div class="col">
        </div>
        <div class="col">
        <form method="post"> 
            {% csrf_token %}  
        <div class="form-floating mb-3">
            <input type="text" name="username" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Username</label>
          </div>
          <div class="form-floating mb-3">
            <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Password</label>
          </div>
    <button onclick="return toast()" class="btn btn-primary"><i class="fa fa-sign-in" aria-hidden="true"></i>&nbsp;Log in</button>
  </form>
      </div>
      <div class="col">
      </div>
    </div>
  </div>
  <style>
    .container{
        margin-top: 25vh;
    }
  </style>
  <script>
    alert = document.getElementById('alert')
    function closenotif(){
        alert.classList.add("visually-hidden")
    }
  </script>
{% endblock %}