<!DOCTYPE html>
<html lang="en"class="has-background-black-ter">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/styles/main.css">

    <title>Sign up</title>
</head>
<body>
    <div class="block " style="margin-top: 25vh;">
        <form class="box has-background-grey-dark column is-4 is-offset-4">
            <div class="field">
                <label class="label has-text-white-ter">Name</label>
                <div class="control has-icons-left">
                    
                  <input class="input has-background-black-ter is-rounded " type="text" placeholder="e.g Alex Smith">
                  <span class="icon is-small is-left">
                    <i class="fa fa-user" aria-hidden="true"></i>
                  </span>
                </div>
              </div>
              
              <div class="field">
                <label class="label has-text-white-ter">Email</label>
                <div class="control has-icons-left">
                  <input class="input has-background-black-ter is-rounded" type="email" placeholder="e.g. alexsmith@gmail.com">
                  <span class="icon is-small is-left">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                  </span>
                </div>
              </div>
              <div class="field">
                <label class="label has-text-white-ter">Password</label>
                <div class="control has-icons-left">
                    <input class="input has-background-black-ter is-rounded" type="password" name="password" placeholder="********">
                    <span class="icon is-small is-left">
                    <i class="fa fa-key" aria-hidden="true"></i>
                    </span>
                </div>
                </div>
            <div class="buttons">
                <p class="control">
                  <a class="button is-dark">Sign up</a>
                </p>
                <p class="control">
                    <a form="" onclick="window.location.href='/login'" class="button is-light">Log in</a>
                  </p>
              </div>

        </form>    
    </div>
</body>
</html>